name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-lastest
    steps:
    - uses: actions/checkout@v2
    - name: Setup OCaml
      uses: avsm/setup-ocaml@v2
    - name: Pin locally
      run: opam pin -y add -n .
    - name: Install locally
      run: opam install -y -t saml
    - name: Test
      run: opam exec make test
